<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/healthhublogo"
        android:label="HealthHub"
        android:roundIcon="@drawable/healthhublogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="34">


        <activity
            android:name=".Reminder"
            android:exported="false" />
        <activity
            android:name=".ReminderSplashScreen"
            android:exported="false" />
        <activity
            android:name=".UploadActivity"
            android:exported="false"
            android:theme="@style/Theme.UploadActivity" />
        <activity
            android:name=".Record_Manager"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Mental_Wellbeing"
            android:exported="true" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" /> <!-- when we are add some another modules in Home page always we declare exported is false -->
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcastForReminder"
            android:exported="true">
        </receiver>
    </application>

</manifest>